<div class="icmvnext icmCaseInfo">
<div data-dojo-attach-point="descriptionNode"></div>
	<div data-dojo-attach-point="contentNode" style="height: 100%; width:100%; padding-right:1px;padding-left:1px;">
		<div data-dojo-attach-point="caseInfoCaseHeader" data-dojo-type="icm.pgwidget.caseinfo.dijit.header.CaseInfoHeader" class="toolbarArea icmCaseInfoCaseHeaderNode" style="display: inline-block;">
		</div>
		<div class="icmCaseInfoTabContainer" data-dojo-type="dijit.layout.TabContainer" data-dojo-attach-point="tabContainer" doLayout="false" style="width: 55%"></div>
	</div>
</div>