<div class="icmvnext icmCaseInfo">
	<div data-dojo-attach-point="descriptionNode"></div>
	<div data-dojo-attach-point="contentNode" style="height: 100%; padding-right:5px;padding-left:5px;">
		<div data-dojo-attach-point="caseInfoCaseHeader" data-dojo-type="icm.pgwidget.caseinfo.dijit.header.CaseInfoHeader" class="toolbarArea icmCaseInfoCaseHeaderNode" style="display: inline-block;">
		</div>
		<!--icm code start-->
        <div data-dojo-attach-point="singleComponentContentNode" style="display: none"></div>
		<!--icm code end-->
		<div class="icmCaseInfoTabContainer" data-dojo-type="dijit.layout.TabContainer" data-dojo-attach-point="tabContainer" doLayout="false"></div><!--icm code start--><ul data-dojo-attach-point="tabMobile" data-dojo-type="dojox.mobile.TabBar"  ></ul><!--icm code end-->
    </div>
</div>
