<div  style="width: 100%; height: 100%;">
	<div class="icmIWidgetDescription icmCaseInfoDescription" dojoAttachPoint="descriptionNode">
	</div>
	<div data-dojo-attach-point="contentNode" style="width: 100%; height: 100%; display:none;" class="icmCaseInfoDocumentsContentNode">
		<div data-dojo-attach-point="ecmContentList" data-dojo-type="icmcustom.widget.listView.ContentList"
			emptyMessage="${resourceBundle.caseDocumentNoDataMessage}" style="width: 100%; height: 100%;">
		</div>
	</div>
</div>